<meta name="viewport" content="width=device-width, initial-scale=1">
<meta charset="utf-8">
<title>GitInit: {{page.title}}</title>
<meta property="og:description" content="{{page.description}}">
<meta name="description" content="{{page.description}}">
<link href="{{ '/public/styles.css' | relative_url }}" rel="stylesheet">
<meta name="language" content="en">
<meta name="author" content="James Trimble">
<meta property="og:title" content="{{page.title}}">
<meta property="og:url" content="{{page.url | absolute_url}}">
<link rel="start" title="GitInit" href="{{ '/' | absolute_url }}">
{% if page.previous %}<link rel="prev" href="{{page.previous | absolute_url}}">{% endif %}
{% if page.next %}<link rel="next" href="{{page.next | absolute_url}}">{% endif %}
<link rel="canonical" href="{{page.url | absolute_url}}">
{% include favicon.html %}
